<%= form_for game, url: user_games_path do |f| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="guess-letters">
    <h2> Pick A Letter!</h2>
    <%= submit_tag 'A', name: 'guessed_letter_a', class: "btn btn-primary" %>
    <%= submit_tag 'B', name: 'guessed_letter_b', class: "btn btn-primary" %>
    <%= submit_tag 'C', name: 'guessed_letter_c', class: "btn btn-primary" %>
    <%= submit_tag 'D', name: 'guessed_letter_d', class: "btn btn-primary" %>
    <%= submit_tag 'E', name: 'guessed_letter_e', class: "btn btn-primary" %>
    <%= submit_tag 'F', name: 'guessed_letter_f', class: "btn btn-primary" %>
    <%= submit_tag 'G', name: 'guessed_letter_g', class: "btn btn-primary" %>
    <%= submit_tag 'H', name: 'guessed_letter_h', class: "btn btn-primary" %>
    <%= submit_tag 'I', name: 'guessed_letter_i', class: "btn btn-primary" %>
    <%= submit_tag 'J', name: 'guessed_letter_j', class: "btn btn-primary" %>
    <%= submit_tag 'K', name: 'guessed_letter_k', class: "btn btn-primary" %>
    <%= submit_tag 'L', name: 'guessed_letter_l', class: "btn btn-primary" %>
    <%= submit_tag 'M', name: 'guessed_letter_m', class: "btn btn-primary" %>
    <%= submit_tag 'N', name: 'guessed_letter_n', class: "btn btn-primary" %>
    <%= submit_tag 'O', name: 'guessed_letter_o', class: "btn btn-primary" %>
    <%= submit_tag 'P', name: 'guessed_letter_p', class: "btn btn-primary" %>
    <%= submit_tag 'Q', name: 'guessed_letter_q', class: "btn btn-primary" %>
    <%= submit_tag 'R', name: 'guessed_letter_r', class: "btn btn-primary" %>
    <%= submit_tag 'S', name: 'guessed_letter_s', class: "btn btn-primary" %>
    <%= submit_tag 'T', name: 'guessed_letter_t', class: "btn btn-primary" %>
    <%= submit_tag 'U', name: 'guessed_letter_u', class: "btn btn-primary" %>
    <%= submit_tag 'V', name: 'guessed_letter_v', class: "btn btn-primary" %>
    <%= submit_tag 'W', name: 'guessed_letter_w', class: "btn btn-primary" %>
    <%= submit_tag 'X', name: 'guessed_letter_x', class: "btn btn-primary" %>
    <%= submit_tag 'Y', name: 'guessed_letter_y', class: "btn btn-primary" %>
    <%= submit_tag 'Z', name: 'guessed_letter_z', class: "btn btn-primary" %>
  </div>
  <hr>
  <div id="guess-whole-word" class="text-center">
    <h2> Guess the whole word!</h2>
    <%= text_field_tag 'guess_whole_word', nil, placeholder: 'Enter your guess here' %>
    <div class="actions">
      <%= f.submit "Submit", class: "btn btn-warning" %>
    </div>
  </div>

<% end %>
