<%= form_for game, url: user_games_path do |f| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="guess-letters">
    <h2> Pick A Letter!</h2>
    <% ("A".."Z").each { |alpha| %>
      <%= submit_tag alpha, name: 'guessed_letter_' + alpha.downcase, class: "btn btn-primary" %>
    <% } %>
  </div>
  <hr>
  <div id="guess-multi-letters" class="text-center">
    <h2> Guess a bunch of letters at once!</h2>
    <%= text_field_tag 'guess_multi_letters', nil, placeholder: 'Enter your guesses here' %>
    <div class="actions">
      <%= f.submit "Submit", name: 'guessed_multi_letters', class: "btn btn-warning" %>
    </div>
  </div>
  <hr>
  <div id="guess-whole-word" class="text-center">
    <h2> Guess the whole word!</h2>
    <%= text_field_tag 'guess_whole_word', nil, placeholder: 'Enter your guess here' %>
    <div class="actions">
      <%= f.submit "Submit", name: 'guessed_whole_word', class: "btn btn-warning" %>
    </div>
  </div>

<% end %>
